* {
    font-family: 'Roboto', sans-serif;
}

html, body, h1, h2, h3, h4, h5, p, ul {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.header ul, .footer ul, .section2 .list2 {
    list-style-type: none;
}

.container {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

h1 {
    font-size: 25px;
    color: #0F0F0F;
    margin-bottom: 18px;
}

h3 {
    font-size: 15px;
    font-weight: bold;
}

h3.bright {
    color: #D8D8D8;   
}

h3.dark {
    color: black;
}

.p1 {
    font-size: 22px;
    color: #AAAA97;
    font-weight: bold;
}

.p2, .section2 .list1 li {
    font-size: 15px;
    font-weight: bold;
    color: #797979;
    line-height: 20px;
}

p.small {
    font-size: 13px;
}

p.color1 {
    color: #171717;
}

.sectionContainer1, .sectionContainer2, .headerContainer {
    display: flex;
}


/*header*/

.header {
    background-color: #293529;
    border-bottom: 5px solid #9FBE61;
    padding:  0 30px 15px 0;
}

.logo .style1 {
    font-size: 38px;
    color: #fff;
    font-weight: 600;
}

.style2 {
    color: #FFF8CA;
    font-weight: 300;
    font-size: 15px;
    margin-left: 20px;
}

.logo {
    width: 42%;
    padding-top: 25px;
    background-image: radial-gradient(circle at 16% 56%, #617E61 -55%,#293529,transparent);
}

.header nav {
    width: 58%;
    margin-top: 25px;
}

.header nav a {
    font-weight: 700;
    font-size: 15px;
    color: #AFAF84;
}

.header nav .navbar {
    background-color: #303E30;
    padding: 13px 10px 11px 10px;
    border: 3px solid #334133;
    border-radius: 30px;
    box-shadow: 0.5px 0.5px 0.5px 0.5px #263126;
}

.header nav li {
    display: inline;
    padding: 9px 25px 9px 25px;
    border-top: 2px solid #334133;
    border-bottom: 1px solid #2D3A2D;
}

.header nav li + li {
    border-left: 2px ridge #475C47;
}

.header nav a:hover {
    color: #C1E776;
}


/*section1*/

.section1 {
    padding: 25px 0 25px 0;
    background-color: #444444;
    background-image: radial-gradient(at 50% -23%, #999F98, #444, #444444)

}

.imgEffect {
    box-shadow: 10px 0px 5px #2a2a2a;
}

.section1 .infoSection1 {
    padding-left: 50px;
}

.section1 img {
    border: 1px solid #3E3E3E;
}

.section1 h2 {
    font-size: 33px;
    color: #FCFCFC;
    margin-bottom: 20px;
}

.section1 p.p1 {
    margin-bottom: 25px;
}

.section1 .more {
    background-color: #9FBE61;
    font-weight: bolder;
    font-size: 15px;
    color: #0F0F0F;
    padding: 5px 15px 5px 15px;
    border: #444444;
    border-radius: 7px;
    background-image: radial-gradient(#D9FF8D, transparent);
}

.section1 .more:hover {
    background-color: #BADE71;
    box-shadow: 4px 4px #3C3C3C;
}


/*section2*/

.section2 {
    border-bottom: 5px solid #9FBE61;
}

.line {
    width: 100%;
    height: 2px;
    background-color: #9FBE61;
    margin-bottom: 5px;
}

.line .boldLine {
    display: block;
    width: 100px;
    height: 6px;
    background-color: #9FBE61;
}

.section2 .dataSection2 {   
    padding-top: 20px;
}

.sectionContainer2 {
    background-color: #FFFFF6;
    padding: 50px 0 50px 0;
}

.section2 .dataSection2 p.p2 {
    margin-bottom: 15px;
}

.section2 .dataSection2 .underline {
    border-bottom: 2px solid #171717;
}

.section2 .list1 {
    padding: 30px 0 15px 30px;
}

.section2 .list1 li {
    margin-bottom: 15px;
}

.section2 .dataSection2 p.border {
    border-left: 8px solid #9FBE61;
    padding-left: 20px;
}

.headerSection2 {
    font-size: 20px;
    color: #FCFCFC;
    background-color: #444444;
    padding: 10px 0 10px 20px;
    border-bottom: 1px ridge #696969;
}

.section2 .list2 li:hover {
    background-color: #D8D8D8;
}


.section2 .list2 {
    list-style-type: none;
}

.list2 img {
    width: 90px;
    height: 90px;
}

.section2 .list2 time {
    color: #C1C1C1;
    font-size: 15px;
    margin-bottom: 5px;
}

.section2 .list2 .list2Data {
    padding-left: 10px;
}

.section2 .list2 li {
    background-color: #EAEAEA;
    padding: 20px 0 23px 20px;
    border: 1px solid #E1E1E1;
    display: flex;
}

.sectionContainer2 .infoSection2 {
    width: 65%;
    margin-right: 60px;
}

.sectionContainer2 .news {
    width: 35%;
}


/*footer*/

.footer {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #2F2F2A;
}

.footer .footerList a {
    font-size: 15px;
    font-weight: bold;
    color:#828282;
}

.footer .footerList {
    display: flex;
    margin-bottom: 30px;
}

.footer .footerListOne {
    width: 20%;
    padding-right: 55px;
}

.footer .footerListOne ul {
    padding-left: 20px;
}

.footer .footerListOne li {
    margin-bottom: 5px;
}

.footer .footerList h3.bright {
    background-color: #272723;
    padding: 3px 0 5px 20px;
    margin-bottom: 7px;
    border-top: 1px solid #1D1D1A;
    border-bottom: 2px ridge #525252;
    border-radius: 12px;
}

.footer .footerListOne a:hover {
    color: #A4A4A4;
}

.footer .copyright {
    color: #5C5C5C;
}

.footer .copyright .copyBright {
    color: #828282;
}
